.discMain {
  margin: 20px 20px 0 20px;
  box-shadow: 0 0 4px #d5d5d5;
  border-radius: 5px;
}

.discMainShortUp {
  padding: 15px;
  display: flex;
}
.discMain img {
  border-radius: 5px;
}

.discText {
  margin-left: 20px;
  font-family: "NanumSquareNeoOTF-Rg";
  font-size: 14px;
}

.discTextPlus {
  margin-left: 20px;
  font-family: "NanumSquareNeoOTF-Rg";
  font-size: 14px;
}

.discTable div:first-child {
  font-family: "NanumSquareNeoOTF-Bd";
}

.discTable div:nth-child(2) {
  display: inline-block;
  background-color: #cfe0ee;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

.discDetailTable {
  display: flex;
  margin: 10px 0;
  width: 95%;
}

.detailMius {
  display: block;
  text-align: center;
  padding: 5px 0;
  background-color: var(--gray);
  font-size: 14px;
  font-family: "NanumSquareNeoOTF-Rg";
}

.detailPlus {
  display: block;
  text-align: center;
  padding: 5px 0;
  background-color: var(--gray);
  font-size: 14px;
  font-family: "NanumSquareNeoOTF-Rg";
}

.detailTitle {
  color: #757575;
  width: 90px;
}

.requestContent {
  width: 98%;
  margin-top: 10px;
}

.divider {
  height: 2px;
  width: auto;
  border-top: 2px solid var(--moregray);
  margin-right: 15px;
}
