.shopListMain {
  margin-top: 20px;
  background-color: var(--gray);
  height: calc(100vh - 370px);
  max-width: 450px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
