.modalMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.shopCardMain {
  max-width: 300px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 0 4px rgb(218, 218, 218, 0.5);
  background-color: white;
  font-size: 14px;
}

.shopFlowerImg {
  position: relative;
  width: 100%;
  padding-top: 95%;
}

.shopFlowerImg img {
  border-radius: 15px 15px 0 0;
}

.shopName {
  font-size: 20px;
  font-family: "NanumSquareNeoOTF-Bd";
}

.shopInfo {
  padding: 15px 15px 5px 15px;
  font-family: "NanumSquareNeoOTF-Rg";
}

.shopInfo .infoTable:nth-child(2) {
  margin-left: 2px;
}

.shopInfo .infoTable:nth-child(2) img {
  margin-right: 8px;
}

.infoTable {
  display: flex;
  margin-bottom: 5px;
  font-size: 16px;
}

.infoTable img {
  margin-right: 5px;
}

.chatAction {
  font-family: "NanumSquareNeoOTF-Rg";
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  font-size: 16px;
  max-width: 100px;
}

.responseContent {
  font-size: 14px;
}
