.swiperSlider {
  width: 60px;
}

.swiper {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
