.wrapper {
  position: relative;
  width: calc(100% - 30px);
  min-height: 80px;
  overflow: hidden;
}

.cardMain {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  border-radius: 8px;
  background-color: #f7f8f9;
  margin-bottom: 10px;
  /* font-family: "NanumSquareNeoOTF-Rg"; */
  display: flex;
  overflow: hidden;
}

.contentImg {
  width: 70px;
  height: 70px;
  /* background-color: white; */
}

.contentImg > img {
  object-fit: cover;
  object-position: center;
}

.contentDiv {
  padding: 10px 5px;
  width: calc(100% - 60px);
}

.contentDivMain {
  padding: 10px 10px;
  width: calc(100% - 90px);
}

.exitDiv {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mint);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.opponentName {
  font-weight: 700;
}

.cardTop,
.cardBottom {
  box-sizing: border-box;
  /* width: 100%; */
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBottom > div:nth-child(1) {
  width: calc(100% - 35px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardTop > div:nth-child(1) {
  width: calc(100% - 115px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.newMsg {
  box-sizing: border-box;
  background-color: #ce2939;
  /* padding: 3px 5px; */
  border-radius: 50%;
  color: white;
  font-family: "NanumSquareNeoOTF-Bd";
  font-size: 12px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
}

.time {
  font-size: 12px;
  width: 110px;

  text-align: right;
}

#underDiv {
  position: relative;
  /* z-index: -1; */
}

#upperDiv {
  transition: left 0.3s ease;
  top: 0;
}

.icon {
  margin-left: 10px;
}
