/* .modalBg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  max-width: 430px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalMain {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  height: 65%;
  width: 80%;
  background-color: white;
  z-index: 1000;
  border-radius: 5px;
  padding: 10px 15px;
}

.top {
  position: absolute;
  height: 50px;
  width: calc(100% - 30px);
  font-family: "Pretendard-Bold";
  font-size: 20px;
  line-height: 50px;
}

.contents {
  position: absolute;
  top: 50px;
  width: calc(100% - 30px);
  height: calc(100% - 60px);
  overflow-y: auto;
  font-size: 14px;
} */

.modalBg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  max-width: 430px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalMain {
  box-sizing: border-box;
  position: relative; /* 'absolute'에서 'relative'로 변경 */
  display: flex;
  flex-direction: column; /* 자식 요소를 수직 방향으로 배열 */
  overflow: hidden;
  height: auto;
  min-height: 50%;
  max-height: 70%;
  width: 80%;
  background-color: white;
  z-index: 1000;
  border-radius: 5px;
  padding: 10px 15px 25px;
}

.top {
  /* position 속성 제거 */
  height: 50px;
  width: 100%;
  font-family: "Pretendard-Bold";
  font-size: 20px;
  line-height: 50px;
  display: flex;
  justify-content: space-between; /* 'X' 버튼과 제목을 양쪽 끝으로 배치 */
}

.contents {
  flex-grow: 1; /* 남은 공간을 모두 채우기 위해 설정 */
  width: 100%;
  overflow-y: auto;
  font-size: 14px;
}

.title {
  height: 100%;
  width: calc(100% - 30px);
  text-align: center;
  display: inline-block;
}
.closeBtn {
  height: 100%;
  display: inline-block;
  position: relative;
  right: 0;
  width: 30px;
  text-align: center;
}

.subTitle {
  font-family: "NanumSquareNeoOTF-Bd";
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid var(--moregray);
  margin-bottom: 10px;
}

.wantedTb th {
  width: 80px;
  text-align: start;
  vertical-align: top;
}
.wantedTb th,
.wantedTb td {
  padding: 4px 2px;
}

.partDiv {
  display: flex;
}
.imgDiv {
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-right: 10px;
}
.textDiv {
  width: calc(100% - 120px);
}
#price {
  font-family: "NanumSquareNeoOTF-Rg";
  margin: 5px 0;
}
