html,
body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "NanumSquareNeoOTF-Rg";
  text-align: center;
}

* {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 프리텐다드 */
@font-face {
  font-family: "Pretendard-Bold";
  src: url("../../public/fonts/Pretendard-Bold.woff") format("woff");
}

/* 나눔 스퀘어 */
@font-face {
  font-family: "NanumSquareNeoOTF-Bd";
  src: url("../../public/fonts/NanumSquareNeoOTF-Bd.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeoOTF-Lt";
  src: url("../../public/fonts/NanumSquareNeoOTF-Lt.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeoOTF-Rg";
  src: url("../../public/fonts/NanumSquareNeoOTF-Rg.woff") format("woff");
}
