html {
  border: 0.1px solid black;
  height: 100vh;
  max-width: 450px;
  min-width: 330px;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "NanumSquareNeoOTF-Lt", "NanumSquareNeoOTF-Rg", "NanumSquareNeoOTF-Bd";
}

* {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

:root {
  --sky: #b0cde3;
  --mint: #c1e0df;
  --blue: #87b8cf;
  --dark: #485256;
  --gray: #f7f8f9;
  --moregray: #e5e5e5;
}

/* 프리텐다드 */
@font-face {
  font-family: "Pretendard-Bold";
  src: url("../../public/fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../../public/fonts/Pretendard-SemiBold.woff") format("woff");
}

/* 나눔 스퀘어 */
@font-face {
  font-family: "NanumSquareNeoOTF-Bd";
  src: url("../../public/fonts/NanumSquareNeoOTF-Bd.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeoOTF-Lt";
  src: url("../../public/fonts/NanumSquareNeoOTF-Lt.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareNeoOTF-Rg";
  src: url("../../public/fonts/NanumSquareNeoOTF-Rg.woff") format("woff");
}
