.home {
  position: relative;
}

.mainHeader {
  position: relative;
  max-width: 450px;
  font-family: "Pretendard-SemiBold";
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;
  flex-flow: row;
  align-items: flex-end;
}

.header {
  /* border: 1px solid black; */
  display: block;
  font-size: 20px;
}

.title {
  /* border: 1px solid black; */
  display: block;
  font-size: 30px;
}

.mainBody {
  height: 70vh;
  overflow: hidden; /* 겹쳐진 카드들이 부모 요소 밖으로 벗어나지 않게 합니다. */
}

.bannerImg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 85%;
  height: 60vh;
  transition: transform 0.5s, opacity 0.8s; /* transform과 opacity에 대한 전환 효과를 추가합니다. */
}

.card1 {
  z-index: 3;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1; /* 첫 번째 카드만 기본적으로 보이게 합니다. */
}

.card2 {
  z-index: 2;
  transform: translateX(-47.5%) translateY(-47.5%);
  opacity: 1; /* 두 번째 카드도 기본적으로 보이게 합니다. */
}

.card3 {
  z-index: 1;
  transform: translateX(-45%) translateY(-45%);
}

.bannerImg > img {
  position: relative !important;
  object-fit: cover;
  border-radius: 10px;
}

.imgDisc {
  width: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 5%,
    rgb(0, 0, 0, 0.3),
    transparent 90%,
    transparent
  );
  font-family: "NanumSquareNeoOTF-Rg";
  position: absolute;
  bottom: 0;
  color: white;
  padding: 60px 0;
}

.imgDisc div {
  padding-left: 5%;
  margin-bottom: 5px;
}

.imgDisc div:nth-child(1) {
  font-size: 20px;
}

.imgDisc div:nth-child(2) {
  font-size: 35px;
}
.imgDisc div:nth-child(3) {
  font-size: 20px;
}

.btnPakage {
  display: flex;
}
