.home {
  position: relative;
}

.mainHeader {
  position: relative;
  max-width: 450px;
  font-family: "Pretendard-SemiBold";
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
  flex-flow: row;
  align-items: flex-end;
}

.header {
  /* border: 1px solid black; */
  display: block;
  font-size: 20px;
}

.title {
  /* border: 1px solid black; */
  display: block;
  font-size: 30px;
}

.mainBody {
  padding-top: 25px;
  height: calc(100vh - 220px);
  margin-top: 20px;
  overflow: scroll;
}

.bannerImg {
  position: relative;
  border-radius: 40px;
  margin-bottom: 30px;
}

.imgDiv {
  object-fit: cover;
  width: 100px;
  padding-top: 140%;
  border-radius: 40px;
}

.imgDiv img {
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
}

.divider {
  /* width: 40%; */
  border: 1px solid white;
  margin-left: 5%;
}
.imgDisc {
  width: 100%;
  font-family: "NanumSquareNeoOTF-Rg";
  position: absolute;
  bottom: 0;
  color: white;
  padding: 40px 0 60px 0;
  border-radius: 0 0 40px 40px;
  background-color: #00000030;
}

.imgDisc div {
  width: 60%;
  padding-left: 5%;
  margin-bottom: 5px;
}

.imgDisc div:nth-child(1) {
  font-size: 20px;
}

.imgDisc div:nth-child(2) {
  font-size: 28px;
}
.imgDisc div:nth-child(3) {
  font-size: 20px;
}

.btnPakage {
  display: flex;
}
