.back {
  /* width: calc(100% - 40px); */
  height: calc(100vh - 40px);
  display: flex;
  overflow: scroll;
}

.container {
  width: calc(100% - 40px);
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  gap: 10px;
}

.container > h2 {
  font-family: "Pretendard-Bold";
  font-size: 28px;
  margin-bottom: 45px;
}

.inputContainer {
  /* border: 1px solid red; */
  gap: 5px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  font-family: "NanumSquareNeoOTF-rg";
}

.inputContainer > label {
  width: calc(100% - 20px);
  margin: 0px auto;
  font-size: 16px;
  font-family: "NanumSquareNeoOTF-Bd";
}
.inputBox {
  margin: 0px auto;
  padding: 5px 10px;
  width: calc(100% - 40px);
  height: 28px;
  border-radius: 5px;
  border: 2px #cfcfcf solid;
  font-family: "NanumSquareNeoOTF-Lt";
}

.statusContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.statusInputBox {
  width: calc(100% - 120px);
  height: 28px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px #cfcfcf solid;
  font-family: "NanumSquareNeoOTF-Lt";
}

.confirmButton {
  background-color: #485256;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0px;
  width: 70px;
  height: 40px;
  font-family: NanumSquareNeoOTF-Bd;
  margin-left: 2px;
  color: white;
  font-size: 12px;
}

.nextButton {
  background-color: #c1e0df;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0px;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  font-family: NanumSquareNeoOTF-Bd;
  margin-bottom: 50px;
}
