.cardMain {
  box-sizing: border-box;
  width: calc(100% - 30px);
  height: 70px;
  border-radius: 8px;
  background-color: #f7f8f9;
  padding: 10px 15px;
  margin-bottom: 10px;
  /* font-family: "NanumSquareNeoOTF-Rg"; */
}

.cardTop {
  display: flex;
  justify-content: space-between;
}

.opponentName {
  font-weight: 700;
}

.cardTop,
.cardBottom {
  padding: 3px 0;
}

.time {
  font-size: 12px;
}
