.detailMainTitle {
  font-size: 28px;
  text-align: left;
  font-family: "Pretendard-Bold";
  margin-bottom: 10px;
}

.detailMainBox {
  display: flex;
  justify-content: space-between;
}

.detailMainBox > div {
  margin: 8px 0px;
  text-align: left;
  font-size: 16px;
  font-family: "NanumSquareNeoOTF-Rg";
}

.detailMainBox > div:nth-child(1) {
  color: #757575;
  width: 120px;
}

.detailMainBox > div:nth-child(2) {
  width: calc(100% - 120px);
  color: black;
}

.detailMainBox > div > div {
  margin-bottom: 10px;
}

.detailMainBox:nth-child(6) {
  border-bottom: 1px solid #cac4d0;
}

.detailMainBox:nth-child(7) {
  margin-top: 10px;
}

.detailMainBox > div > span {
  margin-right: 5px;
}
