.mainBox {
  box-sizing: border-box;
  min-width: 280px;
  max-width: 280px;
  height: 220px;
  background-color: #ffffff;
  border: 1px solid var(--moregray);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.top {
  font-family: "NanumSquareNeoOTF-Bd";
  text-align: center;
  height: 40px;
}

.middle {
  height: calc(100% - 70px);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.bottom {
  height: 30px;
}

.imgDiv {
  width: 95px;
  height: 95px;
  margin-right: 10px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentDiv {
  width: 155px;
  height: auto;
}

.contentItem {
  line-height: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
#comment {
  position: relative;
  height: auto;
  min-height: 60px;
  max-height: 100px;
  align-items: flex-start;
}
#comment > div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#price {
  align-items: center;
}

.icon {
  margin-right: 7px;
}

.btn {
  font-family: "NanumSquareNeoOTF-Rg";
  font-size: 16px;
  border: none;
  width: 100%;
  height: 30px;
  background-color: var(--gray);
  border-radius: 5px;
  color: black;
}

#nickname {
  color: var(--blue);
  /* font-family: "NanumSquareNeoOTF-Bd"; */
}
#price {
  font-family: "NanumSquareNeoOTF-Rg";
}
