.wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 7px 0;
}

.timeDiv {
  font-size: 12px;
  margin-left: 5px;
}
.contentDiv {
  font-family: "NanumSquareNeoOTF-Rg";
  padding: 5px 10px;
  min-height: 30px;
  min-width: 10px;
  max-width: 75%;
  background-color: var(--mint);
  border-radius: 5px;
  display: flex;
  align-items: center;
  word-break: break-all;
}
