.container {
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.welcomeMent {
  font-family: Pretendard-Bold;
}

.guideMent {
  margin-top: 40px;
  font-family: Pretendard;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.buyerCard {
  width: 120px;
  height: 120px;
  background-color: #b0cde3;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  text-align: center;
  line-height: 120px;
}

.sellerCard {
  width: 120px;
  height: 120px;
  background-color: #c1e0df;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 120px;
}

.text {
  font-family: Pretendard;
}
