.home {
  position: relative;
  /* border: 1px solid black; */
}

.mainHeader {
  position: relative;
  max-width: 450px;
  font-family: "Pretendard-SemiBold";
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
  flex-flow: row;
  align-items: flex-end;
}

.header {
  /* border: 1px solid black; */
  display: block;
  font-size: 20px;
}

.title {
  /* border: 1px solid black; */
  display: block;
  font-size: 30px;
}

.mainBody {
  width: 80%;
  margin: 0 auto;
  height: 70vh;
  margin-top: 20px;
}

.bannerImg {
  position: relative;
  border-radius: 40px;
}

.imgDiv {
  border-radius: 40px;
  object-position: center;
  object-fit: cover;
}

.imgDiv img {
  border-radius: 40px;
  object-position: center;
  object-fit: cover;
}

.swiper-slide {
  margin: 20px;
}

.imgDisc {
  width: 100%;
  font-family: "NanumSquareNeoOTF-Rg";
  position: absolute;
  bottom: 0;
  color: white;
  padding: 40px 0 40px 0;
  border-radius: 0 0 40px 40px;
  background-color: #00000030;
}

.imgDisc div {
  width: auto;
  padding-left: 5%;
  margin-bottom: 5px;
}

.imgDisc div:nth-child(3) {
  width: 60%;
  border: 1px solid white;
  margin-left: 5%;
}

.imgDisc div:nth-child(1) {
  font-size: 20px;
}

.imgDisc div:nth-child(2) {
  font-size: 28px;
}
.imgDisc div:nth-child(3) {
  font-size: 20px;
}

.btnPakage {
  display: flex;
}

.swiper-pagination-bullet {
  background-color: #ff0404;
  margin: 0 10px;
}
