.headLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgLogo {
  margin-top: 100px;
  margin-bottom: 60px;
}

.loginBox:hover {
  cursor: pointer;
}
