.headLogo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgLogo {
  margin-top: 100px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.img {
  margin-left: 10px;
}

.loginBox:hover {
  cursor: pointer;
}

.imgText {
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  font-family: NanumSquareNeoOTF-rg;
}
