.fllyOrderBox {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.fllyOrderBox > div:nth-child(1) {
  height: 30px;
  line-height: 40px;
  font-size: 18px;
  padding: 5px;
  margin-left: 5px;
  font-family: "NanumSquareNeoOTF-Bd";
  color: var(--blue);
  display: flex;
  justify-content: space-between;
}

.fllyInfoBtn {
  font-family: "NanumSquareNeoOTF-Bd";
  font-size: 12px;
  color: var(--dark);
  height: 30px;
  line-height: 30px;
}

.fllyOrderMain {
  display: flex;
}

.imgBox {
  width: 160px;
  height: 160px;
}

.imgBox > img {
  padding: 10px;
  border-radius: 25px;
}

.infoMainBox {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid black; */
  margin-top: 10px;
  width: calc(100% - 170px);
  height: auto;
  /* border: 1px solid black; */
}

.infoMainBox > div {
  display: flex;
}

.infoMainBox > div > div:nth-child(1) {
  width: 80px;
  font-size: 16px;
  font-family: "NanumSquareNeoOTF-Bd";
}

.infoMainBox > div > div:nth-child(2) {
  width: calc(100% - 80px);
  overflow: hidden;
}

.colorBox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.flowerBox {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  gap: 3px;
}
