.fllyBox {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 125px;
  text-align: left;
  border-bottom: 1px solid var(--moregray);
  z-index: 10;
}

.headerSideBtn {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Pretendard-Bold";
  width: 100%;
}

.headerSideBtnCheck {
  border-bottom: 4px solid black;
  color: black;
}

.headerSideBtnUnchek {
  color: var(--moregray);
}

.headerSideBtn > div {
  width: 140px;
  height: 30px;
  text-align: center;
}

.headerTitle {
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
  height: 32px;
  margin-left: 20px;
  font-family: "Pretendard-Bold";
}

.headerSortBox {
  margin-top: 40px;
  height: 20px;
  margin-right: 20px;
}

.headerSortBoxSelect {
  border: 0px;
  font-size: 20px;
  font-family: "NanumSquareNeoOTF-Rg";
}

.mainBox {
  width: 100%;
  height: calc(100vh - 190px);
  padding-top: 130px;
  overflow: scroll;
  /* border: 1px solid black; */
}
