.participationBack {
  width: 100%;
  height: 100%;
  position: relative;
}

.participationHeader {
  position: absolute;
  display: flex;
  height: 80px;
  width: 100%;
  z-index: 10;
}

.participationHeader > img {
  margin-top: 37px;
  margin-left: 20px;
}

.participationHeader > img:hover {
  cursor: pointer;
}

.headerTitle {
  margin-top: 30px;
  font-size: 28px;
  height: 32px;
  margin-left: 15px;
  font-family: "Pretendard-Bold";
}

.participationMain {
  position: absolute;
  margin-top: 80px;
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 140px);
}

.mainImgBox {
  width: 340px;
  height: 340px;
  margin: 0px auto;
  background-color: var(--gray);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainImgBox > input {
  display: none;
}

.mainImgBox > img {
  position: absolute;
  top: 130px;
  left: 30%;
}

.mainInfoBox {
  text-align: left;
  width: calc(100% - 60px);
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainInfoBox > div {
  font-family: "NanumSquareNeoOTF-Bd";
  color: var(--dark);
  font-size: 16px;
}

.mainInfoBoxMoneyBox {
  display: flex;
  margin-bottom: 10px;
}

.mainInfoBoxMoneyBox > input {
  text-align: right;
  margin-right: 10px;
  height: 22px;
  width: 120px;
  border: 1px solid var(--moregray);
  border-radius: 5px;
}

.mainInfoBoxMoneyBox > input::-webkit-outer-spin-button,
.mainInfoBoxMoneyBox > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding-right: 4px;
}

.mainInfoBoxMoneyBox > div {
  height: 20px;
  line-height: 28px;
  font-size: 16px;
  font-family: "NanumSquareNeoOTF-Rg";
}

.mainInfoBoxTextBox > textarea {
  width: calc(100% - 20px);
  height: 150px;
  resize: none;
  margin: 0px auto;
  border: 1px solid var(--moregray);
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "NanumSquareNeoOTF-Lt";
}

.mainInfoBoxBtnBox {
  display: flex;
  width: calc(100% - 60px);
  margin: 0px auto;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
}

.mainInfoBoxBtnBox > div {
  width: 74px;
  height: 32px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(103, 103, 103, 0.25);
  font-size: 16px;
  line-height: 32px;
  color: white;
  font-family: "NanumSquareNeoOTF-Bd";
}

.cancelBtn {
  background-color: var(--sky);
  text-align: center;
}

.submitBtn {
  background-color: var(--blue);
  text-align: center;
}
