.detailBack {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: scroll;
  font-family: "NanumSquareNeoOTF-Rg";
}

.detailSellerHeader {
  position: relative;
  height: 440px;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 65px;
}

.detailBuyerHeader {
  position: relative;
  height: 440px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.backImg {
  position: absolute;
  top: 45px;
  left: 30px;
}

.backImg:hover {
  cursor: pointer;
}

.partBtn {
  position: absolute;
  bottom: -60px;
  left: calc(50% - 40px);
  transition: transform 0.3s ease;
}

.partBtn:hover {
  transform: scale(1.3);
  cursor: pointer; /* 호버 시에 커서를 포인터로 변경 */
}

.detailMain {
  margin: 0px auto 65px auto;
  width: calc(100% - 40px);
  padding-bottom: 20px;
  /* height: calc(100vh - 590px); */
  /* border: 1px solid black; */
}
