.checkBack {
  background-color: rgba(37, 37, 37, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: flex;
  text-align: center;
}

.modalBack {
  width: calc(100% - 60px);
  height: 500px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
}

.modalMain {
  width: calc(100% - 40px);
  margin: 30px auto 0px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalMain > div:nth-child(1) {
  font-family: "NanumSquareNeoOTF-Bd";
  font-size: 20px;
}

.modalMain > div:nth-child(2) {
  font-family: "NanumSquareNeoOTF-Rg";
  font-size: 14px;
  color: #757575;
}

.modalTextBox {
  width: calc(100% - 70px);
  border-radius: 5px;
  border: 2px solid var(--moregray);
  margin: 20px auto;
  height: 190px;
  resize: none;
  font-family: "NanumSquareNeoOTF-Lt";
  padding: 10px;
}

.modalBtnBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalBtnBox > div {
  width: calc(100% - 50px);
  margin: 0px auto;
  line-height: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  font-family: "NanumSquareNeoOTF-Bd";
}

.modalBtnBox > div:nth-child(1) {
  background-color: var(--dark);
  color: white;
}

.modalBtnBox > div:nth-child(2) {
  background-color: white;
  border: 1px solid var(--moregray);
  color: var(--dark);
}

/* @media screen and (max-width: 380px) {
    .checkBack {
      background-color: rgba(37, 37, 37, 0.2);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 20;
      display: flex;
      text-align: center;
    }
  
    .modalBack {
      width: calc(100% - 60px);
      height: 180px;
      background-color: white;
      margin: auto;
      border-radius: 10px;
    }
  
    .modalBack > div:nth-child(1) {
      margin-top: 60px;
      font-family: "NanumSquareNeoOTF-Bd";
      font-size: 13px;
    }
  
    .modalBack > div:nth-child(2) {
      margin-top: 5px;
      font-family: "NanumSquareNeoOTF-Rg";
      font-size: 13px;
      color: #757575;
    }
  
    .modalBtnBox {
      margin-top: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  
    .modalBtnBox > div {
      width: 60px;
      height: 30px;
      line-height: 30px;
      border-radius: 8px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      color: white;
      font-size: 12px;
      font-family: "NanumSquareNeoOTF-Bd";
    }
  
    .modalBtnBox > div:nth-child(1) {
      background-color: var(--sky);
    }
  
    .modalBtnBox > div:nth-child(2) {
      background-color: var(--blue);
    }
  }
   */
