.shopImgMain {
  /* border: 1px solid black; */
  height: 150px;
  background-color: white;
  margin: 12px 0 5px 0;
  padding: 15px;
}
.headerTitle {
  font-size: 16px;
  font-family: "NanumSquareNeoOTF-Bd";
  margin-bottom: 10px;
}

.imgList {
  height: 120px;
  display: flex;
  overflow: scroll;
}

.imgOne {
  margin: 0 8px 0 0;
}
