.locationMain {
  margin-top: 20px;
  height: 290px;
  border: 1px solid black;
}

.mapRender {
  width: 100%;
  height: 220px;
}

.mapMarker {
  border: 1px solid black;
  font-family: "NanumSquareNeoOTF-Bd";
  margin: auto;
}

.shopInfoText {
  padding: 15px;
}

.shopName {
  font-family: "NanumSquareNeoOTF-Bd";
  margin-bottom: 5px;
}

.shopLoc {
  font-family: "NanumSquareNeoOTF-Rg";
  font-size: 14px;
}
