.cardBox {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 2px #a7a7a7;
  background-color: var(--gray);
  padding-top: 0;
}

.cardInfo {
  display: flex;
  position: relative;
  margin: 10px 0 10px;
}

.cardInfo > img {
  min-width: 150px;
  margin-top: 40px;
  border-radius: 10px;
}

.InfoTextHeader {
  font-family: "NanumSquareNeoOTF-Bd";
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 10px;
  /* border: 1px solid black; */
}
.infoTable {
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 14px;
  /* border: 1px solid black; */
}

.infoColorTable {
  font-family: "NanumSquareNeoOTF-Bd";
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 14px;
}

.infoTitle {
  /* border: 1px solid black; */
  font-family: "NanumSquareNeoOTF-Bd";
  padding: 5px;
  line-height: 25px;
  margin-right: 5px;
}

.InfoText > div:nth-child(5) {
  margin-left: 10px;
}

.info {
  padding: 5px 12px;
  background-color: var(--moregray);
  font-family: "NanumSquareNeoOTF-Rg";
  line-height: 15px;
  border-radius: 5px;
  height: 15px;
  margin-top: 5px;
}
.colorInfo {
  height: 15px;
  padding: 5px 12px;
  background-color: var(--moregray);
  font-family: "NanumSquareNeoOTF-Rg";
  line-height: 15px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px 0 0;
}

.flowerShop {
  padding: 5px 15px 5px 5px;
  font-family: "NanumSquareNeoOTF-Lt";
  line-height: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 3px;
  font-size: 14px;
}

.currentFlower {
  top: 10px;
}

.cardBtn {
  text-align: center;
  margin: 10px 5px;
}

.cardBtn > button {
  padding: 8px 20px;
  border-style: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 4px #d5d5d5;
}

.fllistBtn {
  margin-right: 15px;
  background-color: var(--blue);
}

.cancelBtn {
  margin-right: 15px;
  background-color: var(--mint);
}
