.fllyBox {
  width: 100%;
  height: 100%;
  position: relative;
}

.contentBox {
  padding: 30px 20px;
  height: calc(100vh - 120px);
  overflow: scroll;
}

.imageBox {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageBox > img {
  object-fit: cover;
  object-position: center;
}

.headerTitle {
  display: flex;
}

.guide {
  line-height: 24px;
  font-size: 20px;
  font-family: "NanumSquareNeoOTF-Bd";
  margin-top: 8px;
}

.requestTable {
  padding: 4px 0;
  border-spacing: 4px;
  width: 100%;
}

.requestTable ul {
  padding: 0;
  margin: 0;
}

.requestTable li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.requestTable th {
  border: 1px solid rgba(0, 0, 0, 0);
  min-width: 90px;
  width: 90px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  font-family: "NanumSquareNeoOTF-Rg";
  color: #757575;
}

.requestTable td {
  /* border: 1px solid black; */
  text-align: left;
  vertical-align: top;
  font-family: "NanumSquareNeoOTF-Rg";
  word-break: keep-all;
}

.colorLi {
  display: inline;
}

.line {
  height: 1px;
  background-color: #cac4d0;
}

.second {
  line-height: 2;
}

.second input {
  padding: 2px 4px;
  font-family: "NanumSquareNeoOTF-Rg";
}

.selectedBtn {
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0 8px 0 0;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: var(--mint);
}

.nselectedBtn {
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0 8px 0 0;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.address {
  background-color: var(--gray);
  border: 1px solid var(--moregray);
  border-radius: 4px;

  color: var(--dark);
  display: flex;
  align-items: center;
  height: 25px;
  padding: 5px 10px;
  width: calc(100% - 20px);
  overflow: hidden;
}

.address > div {
  width: 100%;
  overflow-x: scroll;
  height: 30px;
}

.price {
  height: 25px;
  width: 140px;
  border: 1px solid var(--moregray);
  border-radius: 4px;
  margin-right: 10px;
  text-align: right;
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevBtn {
  background-color: var(--moregray);
  color: var(--dark);
  width: 20px;
  padding: 12px;
  border-radius: 12px;
  margin-right: 10px;
  text-align: center;
  font-family: "NanumSquareNeoOTF-Bd";
}

.nextBtn {
  background-color: var(--blue);
  width: 80px;
  padding: 12px;
  border-radius: 16px;
  color: var(--gray);
  text-align: center;
  font-family: "NanumSquareNeoOTF-Bd";
}

.second textarea {
  padding: 10px;
  border: 1px solid var(--moregray);
  border-radius: 4px;
  resize: none;
  height: 100px;
  width: calc(100% - 22px);
  font-family: "NanumSquareNeoOTF-Lt";
}

.textCount {
  font-family: "NanumSquareNeoOTF-Lt";
  text-align: right;
  /* margin-right: 4px; */
  font-size: 12px;
}

.ManyInfoTd {
  display: flex;
  flex-direction: column;
}

.ManyInfoth {
  display: flex;
  flex-direction: column;
}

.ManyInfoth > div {
  height: 22px;
}

.ManyInfoth > div:nth-child(2) {
  font-size: 12px;
}

.fllyTimeSet {
  border: 1px solid var(--moregray);
  border-radius: 4px;
  background-color: var(--gray);
  text-align: center;
  color: var(--dark);
}

.fllyTimeInfoText {
  font-size: 12px;
  text-align: right;
  color: var(--blue);
}
